# Django Settings
SECRET_KEY=django-insecure-mda4(+fenu_1pi*-6839_d+h=#j_6z6(1r38@z)681gexd)v+_
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings
DB_NAME=sys
DB_USER=root
DB_PASSWORD=root1234
DB_HOST=localhost
DB_PORT=3306
